<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>samples <small>raw data</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Find sample details (industry control)", '/searchsample', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Enter sample details (industry control)", '/newsample', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Find sample details (market place control)", '/searchsample', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Enter sample details (market place control)", '/sampling', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Find sample details (import quality monitoring control)", '/searchsample', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Enter sample details (import quality monitoring control)", '/raw_data_quality_monitoring', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
</section> 
