<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>country <small> details</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Find a country", '/findcountries', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register a country", '/newcountry', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Find a border", '/findborders', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register a border", '/newborder', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                         
   
  <p>                                                                           
    <%= link_to "Find a market", '/findmarkets', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register a market", '/newmarket', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                         
   
  <p>                                                                           
    <%= link_to "Find a county", '/finddistricts', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register a county", '/newdistrict', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                         
   
  <p>                                                                           
    <%= link_to "Register a sub county", '/sub_county', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                         
   
</section> 
