<table class="production_table_chart">                                    
  <tr>                                                                    
    <th>Importer</th>                                                      
    <th>Below Market Min</th>                                             
    <th>Factory Min-Market Min</th>                                       
    <th>Below Factory Min</th>                                            
    <th>Production Range</th>                                             
    <th>Above Factory Max</th>                                            
    <th>Avg Iodization</th>
    <th>Number of samples</th>                             
  </tr>                                                                   
                                                                          
  <%(@samples || {}).sort_by { |k, v| v[:date] }.each do |district,values| %>
    <tr>                                                                  
      <td><%=district%></td>                                               
      <td><%=values[:below_market_min]%></td>                             
      <td><%=values[:factory_min_market]%></td>                           
      <td><%=values[:below_factory_min]%></td>                            
      <td><%=values[:production_range]%></td>                             
      <td><%=values[:above_factory_max]%></td>                            
      <td><%=values[:avg]%></td>                                          
      <td><%=values[:num_of_samples]%></td>                                          
    </tr>                                                                 
  <%end%>                                                                 
</table>
