<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        data: {
            table: document.getElementById('datatable')
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Import control'
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Percentage (%)'
            }
        },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
                    this.y +' '+ this.x.toLowerCase();
            }
        }
    });
});
		</script>
	</head>
	<body>

<!--div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div-->
<div id="container" style="width: 99%; height: 400px; margin: 0 auto"></div>

<table id="datatable" style="display: none;">
	<thead>
		<tr>
			<th>Import control</th>
			<td>Evolution of average salt iodization level (ppm)</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Below Market Min</th>
			<td><%=@colunm['Below Market Min']%></td>
		</tr>
		<tr>
			<th>Factory Min-Market Min</th>
			<td><%=@colunm['Factory Min-Market Min']%></td>
		</tr>
		<tr>
			<th>Below factory Min</th>
			<td><%=@colunm['Less than Factory Min']%></td>
		</tr>
		<tr>
			<th>Production Range</th>
			<td><%=@colunm['Production Range']%></td>
		</tr>
		<tr>
			<th>Above Factory Max</th>
			<td><%=@colunm['Above Factory Max']%></td>
		</tr>
	</tbody>
</table>
	</body>
</html>

