<style>
#report-container {
  background-color:;
  margin-left: 5px;
  margin-right: 5px;
}

.charts {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.chart-container {
  width: 45%;
  border-width: 1px;
  border-style: solid;
}

.production_table_chart {
  width: 100%;
}

.production_table_chart th {
  text-align: right;
  padding-right: 5px;
  border-width: 1px;
  border-style: solid;
}

.production_table_chart td {
  text-align: right;
  padding-right: 5px;
  border-width: 1px;
  border-style: solid;
}




</style>

<head>
<%= javascript_include_tag "Highcharts-3.0.2/js/jquery.min" %>
<%= javascript_include_tag "highstock" %>

<%= javascript_include_tag "Highcharts-3.0.2/js/modules/data" %>               
<%= javascript_include_tag "Highcharts-3.0.2/js/modules/exporting" %>
</head>


<div id="report-container">


<table class="charts">
  <tr>
    <td class="chart-container">
      <%if @report_type == "Iodine levels by company"%>
        <%= render  "report/industry/company/combination"%>
      <%else%>
        <%= render  "report/industry/overtime/combination"%>
      <%end%>
    </td>
    <td class="chart-container">
      <%if @report_type == "Iodine levels by company"%>
        <%= render "report/industry/company/stacked_percentage_column"%>
      <%else%>
        <%= render "report/industry/overtime/stacked_percentage_column"%>
      <%end%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2"><hr /></td></tr>

  <tr>
    <td colspan="2">
      <%if @report_type == "Iodine levels by company"%>
        <%= render "report/industry/company/table_chart"%>
      <%else%>
        <%= render "report/industry/overtime/table_chart"%>
      <%end%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2"><hr /></td></tr>

</table>



</div>
