<style>
#report-container {
  background-color:;
  margin-left: 5px;
  margin-right: 5px;
}

.charts {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.chart-container {
  width: 45%;
  border-width: 1px;
  border-style: solid;
}

.production_table_chart {
  width: 100%;
}

.production_table_chart th {
  text-align: right;
  padding-right: 5px;
  border-width: 1px;
  border-style: solid;
}

.production_table_chart td {
  text-align: right;
  padding-right: 5px;
  border-width: 1px;
  border-style: solid;
}




</style>

<head>
<%= javascript_include_tag "Highcharts-3.0.2/js/jquery.min" %>
<%= javascript_include_tag "highstock" %>

<%= javascript_include_tag "Highcharts-3.0.2/js/modules/data" %>               
<%= javascript_include_tag "Highcharts-3.0.2/js/modules/exporting" %>
</head>


<div id="report-container">

<div id="dates" style="padding-bottom: 10px;">
  <b>Report period:</b>&nbsp;<%= @date_range[0].to_date.strftime('%d, %B, %Y') %>
  &nbsp;to&nbsp;<%= @date_range[1].to_date.strftime('%d, %B, %Y') %>
</div>

<table class="charts">
  <tr>
    <td class="chart-container">
      <%if @report_type == "Iodine levels by salt brand and type"%>
        <%= render  "report/market/salt_brand/combination"%>
      <%elsif @report_type == "Iodine levels by customs station"%>
        <%= render  "report/production/customs/combination"%>
      <%elsif @report_type == "Iodine levels by importer"%>
        <%= render  "report/production/importer/combination"%>
      <%else%>
        <%= render  "report/production/overtime/combination"%>
      <%end%>
    </td>
    <td class="chart-container">
      <%if @report_type == "Iodine levels by salt brand and type"%>
        <%= render "report/production/salt_brand/stacked_percentage_column"%>
      <%elsif @report_type == "Iodine levels by customs station"%>
        <%= render "report/production/customs/stacked_percentage_column"%>
      <%elsif @report_type == "Iodine levels by importer"%>
        <%= render "report/production/importer/stacked_percentage_column"%>
      <%else%>
        <%= render "report/production/overtime/stacked_percentage_column"%>
      <%end%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2"><hr /></td></tr>

  <tr>
    <td colspan="2">
      <%if @report_type == "Iodine levels by salt brand and type"%>
        <%= render "report/production/salt_brand/table_chart"%>
      <%elsif @report_type == "Iodine levels by customs station"%>
        <%= render "report/production/customs/table_chart"%>
      <%elsif @report_type == "Iodine levels by importer"%>
        <%= render "report/production/importer/table_chart"%>
      <%else%>
        <%= render "report/production/overtime/table_chart"%>
      <%end%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2"><hr /></td></tr>

</table>



</div>
